$eagColor: black;



  nav {
    background-color: #003;
    overflow: hidden;
    width: 100%;
    color: #fff;
}
.eagle-description {
    color: $eagColor;
    max-width: 18rem; 
    margin: 0px 10px 0px 10px;
}

img {
    width: 100%;
    height: auto;
}

.card-header{
    padding:.75rem 0rem;
    margin-left: -15px !important;
    margin-right: -15px !important;
    text-align: center;
}
aside a {
    color: #99cc00;
}


footer {
    margin-top: 10px;
    padding-top: 10px;
    background-color: #003 !important;
    color: #fff !important;
    text-align: center;
    border-radius: 5px;
  }